---
title: Schedule
---

<div class="limit limit--top-margin">

  {% include schedule/intro.html date='Sep 8th' %}

  <div class="schedule" data-dates="9-8">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html tracks='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='9.45-10.00' title='Intro by GrUSP' fill='true' %}

        <tr>{% include schedule/talk.html time='10.00-10.45' title="Things I Wish I Knew When I Started Playing \"Developer\"" keynote='true' fill='true' %}</tr>
        <tr>{% include schedule/talk.html title="What's new in PHP 8" time='10.45-11.30' %}</tr>

        {% include schedule/pause.html time='11.30-11.40' title='Short break' icon="coffee" fill='true' %}

        <tr>{% include schedule/talk.html title="Symfony 5, the new bits" time='11.40-12.35' %}</tr>
        <tr>{% include schedule/talk.html title="Leveraging Typed Exceptions for Cleaner Error Handling" time='12.35-13.20' %}</tr>

        {% include schedule/pause.html time='13.20-14.30' title='Lunch' icon="food" fill='true' %}

        <tr>{% include schedule/talk.html title='Kubernetes for PHP developers' time='14.30-15.15' %}</tr>
        <tr>{% include schedule/talk.html title='Technically Speaking: Improve your code with documentation' time='15.15-16.00' %}</tr>

        {% include schedule/pause.html time='16.00-16.15' title='Coffee break' icon="coffee" fill='true' %}

        <tr>{% include schedule/talk.html title='Looping the Loop with SPL Iterators' time='16.15-17.00' %}</tr>
        <tr>{% include schedule/talk.html title="Getting started with ReactPHP – Pushing real-time data to the browser" time='17.00-17.45' %}</tr>
        <tr>{% include schedule/talk.html title="Pragmatic Optimism: How PHP Conquered the Web" time='17.45-18.30' keynote='true' fill='true' %}</tr>

        {% include schedule/event.html time='18.30-18.45' title='Goodbye from GrUSP' fill='true' %}
      </tbody>
    </table>
  </div>

  <div class="schedule schedule--mobile" data-dates="5-10">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html track='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='9.45-10.00' title='Intro by GrUSP' fill='true' %}

        <tr>{% include schedule/talk.html time='10.00-10.45' title="Things I Wish I Knew When I Started Playing \"Developer\"" keynote='true' fill='true' %}</tr>
        <tr>{% include schedule/talk.html title="What's new in PHP 8" time='10.45-11.30' %}</tr>

        {% include schedule/pause.html time='11.30-11.40' title='Short break' icon="coffee" fill='true' %}

        <tr>{% include schedule/talk.html title="Symfony 5, the new bits" time='11.40-12.35' %}</tr>
        <tr>{% include schedule/talk.html title="Leveraging Typed Exceptions for Cleaner Error Handling" time='12.35-13.20' %}</tr>

        {% include schedule/pause.html time='13.20-14.30' title='Lunch' icon="food" fill='true' %}

        <tr>{% include schedule/talk.html title='Kubernetes for PHP developers' time='14.30-15.15' %}</tr>
        <tr>{% include schedule/talk.html title='Technically Speaking: Improve your code with documentation' time='15.15-16.00' %}</tr>

        {% include schedule/pause.html time='16.00-16.15' title='Coffee break' icon="coffee" fill='true' %}

        <tr>{% include schedule/talk.html title='Looping the Loop with SPL Iterators' time='16.15-17.00' %}</tr>
        <tr>{% include schedule/talk.html title="Getting started with ReactPHP – Pushing real-time data to the browser" time='17.00-17.45' %}</tr>
        <tr>{% include schedule/talk.html title="Pragmatic Optimism: How PHP Conquered the Web" time='17.45-18.30' keynote='true' fill='true' %}</tr>

        {% include schedule/event.html time='18.30-18.45' title='Goodbye from GrUSP' fill='true' %}
      </tbody>
    </table>
  </div>
</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
