---
title: Workshops
---

<div class="limit limit--top-margin">

  <div class="workshops-intro">
    <h1 class="workshops-intro__title">
      Workshops
    </h1>
  </div>

  <div class="workshops-intro">
    <h2 class="workshops-intro__date">
      May 11th
    </h2>
  </div>

  <h2 class="row__title">NoEstimates Workshop</h2>
  <div class="row">
    <p class="row__column">
      Stop wasting time and money.

      #NoEstimates is an approach to software development that arose from the observation that large amounts of time were spent over the years in
      estimating and improving those estimates, but we see no value from that investment.
      Indeed, according to scholars Conte, Dunmore and Shens a good estimate is one that is within 25% of the actual cost, 75% of the time.
      This is the same as saying: give us your money, we promise not lose more than 25% of it (with a 25% probability that we will lose a lot more).
      We don’t find that acceptable or productive for our industry.
      There must be better ways to manage software and product development.
    </p>
    <p class="row__column">
      Speaker: Vasco Duarte (<a href="https://twitter.com/duarte_vasco" class="speaker__twitter-link">@duarte_vasco</a>)
    </p>
    <p class="row__column">
      This is a full day workshop. Get your <a href="http://www.avanscoperta.it/it/training/noestimates-workshop/">ticket</a>!
    </p>
  </div>

</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
