<div class="report">
  <div class="limit">

    <!--<div class="report__link">-->
      <!--<a href="{{ site.baseurl }}/img/sponsors/{{ site.data.sponsors.pdf }}" class="button">-->
        <!--Download phpday 2016 report-->
      <!--</a>-->
    <!--</div>-->

    <h3 class="report__title">
      php day
      <span class="report__title-sub">
        in figures
      </span>
    </h3>

    <div class="report__row">

      <div class="report__row-column">
        <h4 class="report__year">
          2019
        </h4>
        <div class="report__detail">
          Attendees <b>352</b>
        </div>
        <div class="report__detail">
          Speakers <b>28</b>
        </div>
        <div class="report__detail">
          Days <b>2</b>
        </div>
        <div class="report__detail">
          Tracks <b>2</b>
        </div>
        <div class="report__detail">
          Sessions <b>28</b>
        </div>
      </div>

      <div class="report__row-column">
        <h4 class="report__year">
          2018
        </h4>
        <div class="report__detail">
          Attendees <b>350</b>
        </div>
        <div class="report__detail">
          Speakers <b>27</b>
        </div>
        <div class="report__detail">
          Days <b>2</b>
        </div>
        <div class="report__detail">
          Tracks <b>2</b>
        </div>
        <div class="report__detail">
          Sessions <b>27</b>
        </div>
      </div>

      <div class="report__row-column">
        <h4 class="report__year">
          2017
        </h4>
        <div class="report__detail">
          Attendees <b>348</b>
        </div>
        <div class="report__detail">
          Speakers <b>27</b>
        </div>
        <div class="report__detail">
          Days <b>2</b>
        </div>
        <div class="report__detail">
          Tracks <b>2</b>
        </div>
        <div class="report__detail">
          Sessions <b>28</b>
        </div>
      </div>

      <div class="report__row-column">
        <h4 class="report__year">
          2016
        </h4>
        <div class="report__detail">
          Attendees <b>336</b>
        </div>
        <div class="report__detail">
          Speakers <b>27</b>
        </div>
        <div class="report__detail">
          Days <b>2</b>
        </div>
        <div class="report__detail">
          Tracks <b>2</b>
        </div>
        <div class="report__detail">
          Sessions <b>27</b>
        </div>
      </div>
    </div>
  </div>
</div>
